<div class="mt-4">
    <h3>Cập nhật khóa học</h3>
    <form method="POST" action="/device/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" name="name" value="{{course.name}}" id="name">
        </div>

         <div class="mb-3">
            <label for="description" class="form-label">Mô tả khóa học</label>
            <textarea  class="form-control" name="description" value="" id="description">{{course.description}}</textarea>
        </div>
         <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" name="videoId" value="{{course.videoId}}" id="videoId">
        </div>
         <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" name="level" value="{{course.level}}" id="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>